<div class="site-wrapper">
  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">RailsStupidCoach</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="ask">Home</a>
            <a class="nav-link active" href="#">Answer</a>
          </nav>
        </div>
      </div>


      <div class="inner cover">
        <h2 class="cover-heading"><%= "#{@coach_response}" %></h2>
        <p>- <i>Coach</i></p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p><a href="https://getbootstrap.com">Bootstrap</a> Cover template by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>
