<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 href="ask" class="masthead-brand">RailsStupidCoach</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="ask">Home</a>
          </nav>
        </div>
      </div>


      <div class="inner cover">
        <h1 class="cover-heading">Talk to your coach:</h1>
        <form action="/answer">
            <input class="form-control" type="text" id="question" name="query" placeholder="what time is it?">
            <p class="lead">
              <input type="submit" value="Go on!" class="btn btn-success">
            </p>
          </form>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p><a href="https://getbootstrap.com">Bootstrap</a> Cover template by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>
